node_modules
**/node_modules
.git
dist
coverage
.pnpm-debug.log
npm-debug.log
.DS_Store
.turbo
.next

# Development files
**/.vscode
**/.idea
**/*.swp
**/*.swo

# Logs
**/logs
**/*.log

# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Temporary folders
**/tmp
**/temp

